@model IEnumerable<MVC_Store.Models.Cart.CartVM>

@{
    ViewBag.Title = "Cart Details";
}

<h2>Cart Details:</h2>

@if (ViewBag.Message != null)
{
    <h3>
        @ViewBag.Message
    </h3>
}
else
{



    <table class="table">
        <tr>

            <th>
                Name
            </th>
            <th>
                Quantity
            </th>
            <th>
                Price
            </th>
            <th>
                Image
            </th>
            <th>
                <!-- свободная ячейка для кнопок изменения кол-ва товаров-->
            </th>
            <th>
                Tottal
            </th>

            <th>

            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td class="qty@(item.PorductId)">
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)€
                </td>

                <td>
                    <img src="/Images/Uploads/Products/@item.PorductId/Thumbs/@item.Image" />
                </td>
                <td>
                    <a href="#" class="incproduct btn btn-success" data-id="@item.PorductId">+</a>
                    <a href="#" class="decproduct btn btn-dark" data-id="@item.PorductId">-</a>
                    <a href="#" class="removeproduct btn btn-danger" data-id="@item.PorductId">Remove</a>
                </td>
                <td class="total@(item.PorductId)">
                    @Html.DisplayFor(modelItem => item.Total)€
                </td>

            </tr>
        }
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="grandtotal"><b>Grand total:</b> <span>@ViewBag.GrandTotal €</span></td>
        </tr>

    </table>
}

@section Scripts
{
 <script src="~/Content/ShopJS/IncrementProductScript.js"></script>
}